---
layout: default
---

{% capture page_index %}
  {% for post in site.posts reversed %}
    {% if post == page %}
      {{ forloop.index }}
    {% endif %}
  {% endfor %}
{% endcapture %}

<title>{{ page_index }}</title>

<div style="display: flex">
  <div style="flex: 1">
    {% if page.previous.url %}
      <a href="{{ page.previous.url | prepend: site.baseurl }}">prev</a>
    {% endif %}
  </div>
  <div style="flex: 1">
    <a href="{{ "/" | prepend: site.baseurl }}">toc</a>,
    {{ page_index }} / {{ site.posts | size }}
    <!--{{ page.title }}-->
  </div>
  <div style="flex: 1">
    {% if page.next.url %}
      <a href="{{ page.next.url | prepend: site.baseurl }}">next</a>
    {% endif %}
  </div>
</div>

<div style="min-height: 450px; display: flex; align-items: center">
  <div style="margin: auto">
    {{ content }}
  </div>
</div>
